<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-type" content="text/html;charset=UTF-8" />
		<title>OcUK Photo Competition</title>
		<link type="text/css" rel="stylesheet" href="http://res.growse.com/mincache/ocukphoto.css" />

		<script type="text/javascript" src="http://res.growse.com/mincache/ocukphoto.js"></script>
	</head>
	<body>
		<div id="body">
			<div id="header">
				<div id="search">

					<form action="/search/" method="post">
						<fieldset>
							{% csrf_token %}
							<input id="searchbox" type="text" name="term" class="searchtext" />
							<input type="image" alt="go" src="http://res.growse.com/img/ocukphotocomp/search.png" class="searchimage" />
						</fieldset>
					</form>
				</div>
				<p><span>OcUK Photo Competition</span></p>

				<ul>
					<li>Season:</li>
					{% for season in seasons %}
					<li><a href="/seasons/{{season.name}}/" title="{{season.name}}">{{season.name}}</a></li>
					{% endfor %}
				</ul>
			</div>
			<div id="content">
				{% block content %}
				{% endblock %}
			</div>

			<p id="footertext" class="clear_r clear_l"></p>
		</div>
	</div>
<script type="text/javascript">
	if (window.location.href.substring(0,32)=='http://ocukphotocomp.growse.com/') {
		try {var pageTracker = _gat._getTracker("UA-185490-9");pageTracker._trackPageview();} catch(err) {}
	}
</script>
</body>
</html>
