{% extends "base.html" %}

{% block content %}
<h1>{{round.season.name}} Season</h1>
<h2>{{round.theme}}</h2>
<div id="round_entries">
	{% for entry in entries %}
	<div id="{{entry.person.name|slugify}}">
		<h3>
			<a href="/people/{{entry.person.name|urlencode}}/">{{entry.person.name}}</a> ({{entry.rank}})
		</h3>
		<a title="{{entry.person.name}} - Score: {{entry.total_score}}" href="{{photo_url|random}}{{entry.image_large|urlencode}}.jpg" class="notext" data-rel="lightbox[round]">
			<img width="200" alt="{{entry.person.name}} entry" src="{{photo_url|random}}{{entry.image_thumbnail|urlencode}}.jpg" />
		</a>
		<table>
			<tr><th>Technical Score:</th><td>{{entry.technical_score}}</td></tr>
			<tr><th>Theme Score:</th><td>{{entry.theme_score}}</td></tr>
			<tr><th>Impact Score:</th><td>{{entry.impact_score}}</td></tr>
			<tr><th>Total Score:</th><td>{{entry.total_score}}</td></tr>
		</table>
		<p class="comments">{% if entry.comments %}	{{entry.comments}}{% else %}No Comments found for this entry.{% endif %}</p>
		<p class="clear_r"></p>
	</div>
	{% endfor %}
</div>

{% endblock %}
